<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.test.mall3.board.service.BoardCommentMapper">
	<insert id="insertBoardComment"
			parameterType="com.test.mall3.boardcomment.service.BoardComment">
		INSERT INTO board_comment(					
			board_no
			,comment_content
			,member_id
		) VALUES (
			#{boardNo},
			#{commentContent},
			#{memberId}
		)
	</insert>
	<select id="selectBoardComment"
			parameterType="Integer"
			resultType="com.test.mall3.boardcomment.service.BoardComment">
		SELECT comment_content as commentContent
			,member_id as memberId
		FROM board_comment
		WHERE board_no = #{boardNo}
	</select>
	<select id="selectBoardCommentList"
			resultType="com.test.mall3.board.service.Board">
		SELECT board_no as boardNo
		,member_id as memberId
		,board_title as boardTitle
		,board_content as boardContent
		,board_date as boardDate
		FROM board	
	</select>			
</mapper>






