<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.test.mall3.board.service.BoardMapper">
	<select id="selectBoardList" resultType="com.test.mall3.board.service.Board">
		SELECT 
			board_no as boardNo
			,member_id as memberId
			,board_title as boardTitle
			,board_content as boardContent
			,board_date as boardDate
		FROM board
	</select>
	
	<insert id="insertBoard" parameterType="com.test.mall3.board.service.Board">
		INSERT INTO board(					
			member_id
			,board_title
			,board_content
			,board_date
		) VALUES (
			"guest",
			#{boardTitle},
			#{boardContent},
			now()
		)
	</insert>
</mapper>



